<!DOCTYPE html>
<html>
  <head>
    <title>Saibaishitai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen bg-yasai">
    <main class="mx-auto flex flex-col items-center">
      <%= render(HeaderComponent.new) %>
      <div class='w-10/12 bg-white'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
